html {
  scroll-behavior: smooth;
}
body {
  background-color: transparent;
  font-family: sans-serif;
  background-image: url(../../assets/images/bg-mobile.png);
  background-repeat: no-repeat;
  width: 375px;
  height: 667px;
}
